@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'DM Sans';
	src:
		local('DMSans-Regular'),
		url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DM Sans';
	src:
		local('DMSans-Medium'),
		url('./assets/fonts/DMSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DM Sans';
	src:
		local('DMSans-Bold'),
		url('./assets/fonts/DMSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

.no-tap-highlight {
	-webkit-tap-highlight-color: transparent;
}

.spinner {
	box-sizing: border-box;
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner .inner {
	box-sizing: border-box;
	border-radius: 0.5rem;
	position: relative;
	z-index: 1;
	margin: 2px;
	height: 48px;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinner::before {
	content: '';
	display: block;
	height: 100px;
	width: 30px;
	transform: translate(0);
	position: absolute;
	animation: rotate 1s linear forwards infinite;
	z-index: 0;
	top: 50%;
	transform-origin: top center;
}
