@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'DM Sans';
	src:
		local('DMSans-Regular'),
		url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DM Sans';
	src:
		local('DMSans-Medium'),
		url('./assets/fonts/DMSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DM Sans';
	src:
		local('DMSans-Bold'),
		url('./assets/fonts/DMSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

.no-tap-highlight {
	-webkit-tap-highlight-color: transparent;
}
